<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Essentialist Torah – {title}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <button id="menu-toggle">☰</button>
    <div id="chapter-indicator">Chapter: 1</div>
    
    <div id="sidebar">
        <h2><a href="/">EssTorah</a></h2>
        {nav_structure}
        <p><a href="/"><img src="/static/en.png" border="0"></a>&nbsp;
        <a href="/hu/"><img src="/static/hu.png" border="0"></a></p>
    </div>

	<div class="content">
		{bilingual_content}
	</div>

<div class="commentary-container">
    {commentary}
</div>
</body>
</html>

